.game-col{
    max-width: 780px;
}

.canvas-div{
   padding: 0;
   height: 480px;
  
}

.canvas{
    border-top-left-radius: 20px;
    /* border-bottom-left-radius: 20px;  */
}

.sidebar{
    height: 480px;
    width: 300px !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-top-right-radius: 20px;
    
    
    /* background-color: black; */
}

.hero-info-row{
    padding-bottom: 10px ;
}
.hero-info-sub-row{
    padding-bottom: 5px ;
}

.team-select-icon.selected{
    background-color: lightgreen;
}



.ally-chars{
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 111);
    /* margin-bottom: 20px; */
    height: 240px;
    border-top-right-radius: 20px;
      }

.ally-chars-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.enemy-chars{
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(0, 0, 235);
    height: 240px;
    /* border-bottom-right-radius: 20px; */
    }
          
    

.sidebar-char:hover {
    transform: translate3d(0px, 0px, -250px);
    }

.sidebar-char{
    white-space: nowrap;
    height: 100px;
    transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    background-color: skyblue;
    }

    .sidebar-char.ally{
        background-color: rgb(250, 250, 133);;
    }

    .sidebar-char.enemy{
        background-color: rgb(0, 0, 255);
    }

    .bar{
        width: 200px;
        height: 20px;
        padding: 0;
        margin-left: 5px;
        background-color: black;
        
    }

    .red-health{
        height: 20px;
        background-color: red;
        box-shadow: inset 0 0 3px black
        
    }




.full-ui{
    background-color: gray;
    
}

.current-icon{
    width: 96px;
    height: 96px;
    padding: 0;
}

.canvas-col-bottom{
    background-color: white;
    max-width: 780px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reset-redux-states{
    max-width: 780px;
}