

.canvas-div{
   padding-right: 0;
}

.hero-info.col{
    height: 480px;
    width: 300px !important;
    padding: 0px;
    background-color: black;
}

.hero-info-row{
    padding-bottom: 10px ;
}
.hero-info-sub-row{
    padding-bottom: 5px ;
}

.team-select-icon.selected{
    background-color: lightgreen;
}