.signup-alert{
    display: block;
    height: 30px;
    padding: 0;
    text-align:center;
    margin-bottom: 5;
}

.signup-alert.hidden{
    display: none;
}

.login-prompt{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}